<%= form_for(@user.becomes(User)) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <% if !@skills.nil? %>
      <% @skills.each do |skill| %>
        <%= check_box_tag(
            "user[skill_list][#{skill.id}]",
            "1",
            @user.becomes(User).skills.detect{|d| d==skill}) %>
        <%= "#{skill.name}" %><br />
      <% end %>
    <% end %>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
