<h1>User Profiles</h1>
<p id="notice"><%= notice %></p>

  
  <% @users.each do |user| %>
  
<div class="user_entry"<% if current_user == user %> style="background-color: #ff9999;" id="self"<% end %>>  
<% if current_user.is_admin? || current_user == user then %>
  <div class="entry_options">
  <%= link_to image_tag("/images/edit.png"), edit_user_path(user) %> 
  <%= link_to image_tag("/images/delete.png"), user_path(user), :confirm => 'Are you sure?', :method => :delete %>
  </div>
<% end %>
  
    <table class="red" width="400">  
  <tr><td valign="top" width="100"><%= image_tag user.avatar.url(:medium) %></td>
  <td>
	<%= link_to user.username, user_path(user) %><br>
  <% if user.is_admin? %>
  Administrator
  <% else %>
  User
  <% end %>
  </td></tr>
  </table>
</div>
  <% end %>

<br />

<% if current_user.is_super_admin? %>
  <%= link_to 'New User', new_user_path %>
<% end %>
