<h1>User Profiles</h1>
<p id="notice"><%= notice %></p>
<table class="red">
  <tr>
    <th>Users</th>
    <% if current_user.is_admin? %>
      <th></th>
      <th></th>
    <% end %>
  </tr>
  
  <% @users.each do |user| %>
  
    <tr>
      <td>
      
      
    <table class="red">  
  <tr><td valign="top"><%= image_tag user.avatar.url(:medium) %></td>
  <td>
	<%= link_to user.username, user_path(user) %><br>
  <% if user.is_admin? %>
  Administrator
  <% else %>
  User
  <% end %>
  </td></tr>
  </table>
  
	<% if current_user == user %>
	  <b>* </b>
	<% end %>
      </td>
      <% if current_user.is_admin? %>
	<td><%= link_to 'Edit', edit_user_path(user) %></td>
      <% end %>
      <% if current_user.is_super_admin? %>
	<td><%= link_to 'Destroy', user_path(user), \
		:confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<br />

<% if current_user.is_super_admin? %>
  <%= link_to 'New User', new_user_path %>
<% end %>
