<h1>User Profiles</h1>
<p id="notice"><%= notice %></p>
<table>
  <tr>
    <th>Username</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.username, user_path(user) %></td>
    <td><% if user == current_user %><%= link_to 'Edit', edit_user_path(user) %><% end %></td>
    <td><% if current_user.is_a? Admin %><%= link_to 'Destroy', user_path(user), :confirm => 'Are you sure?', :method => :delete %><% end %></td>
  </tr>
<% end %>
</table>

<br />

<% if current_user.is_a? Admin %>
  <%= link_to 'New User', new_user_path %>
<% end %>
