<p id="notice"><%= notice %></p>

<h2>
  <%= @user.username %>
</h2>

<div id="content">
  <p>
    <b>Email</b><br>
    <%= @user.email %>
  </p>
  
  <p>
    <b>User Skills</b><br>
    <% @user.skills.each do |skill| %>
      <%= skill.name %> <br>
    <% end %>
  </p>
  
  <% if @user == current_user or  current_user.is_a? Admin then %>
    <p>
      <b>Checked Out Items</b>
      <% if @user.items.size == 0 %>
	<br>No items are currently checked out.
      <% else %>
	<table>
	  <tr> <th>Lab</th> <th>Item Name</th> <th>Due Date</th><th></th></tr>
	  <% @user.items.each do |item| %>
	    
	    <tr>
	      <td><%= Lab.find_by_id(item.lab_id).name %>
	      <td>
		<%= link_to(item.name, item) %>
	      </td>
	      <td>
		<%= item.due_date \
		    and item.due_date.strftime("%a %b %e") %>
	      </td>
	      <% if current_user.is_a? Admin then %>
		<td>
		  <%# If the user's an Admin, it screws up the routing
                      information here. We'll just cast them to a normal User
		      temporarily %>
		    <% user = @user.becomes(User) %> 
		    <%= form_for([user, user.transactions.build]) do |f| %>
		      <div class="action">
			<%= f.hidden_field :item_id, {:value => item.id} %>
			<%= f.hidden_field :class_type, {:value => "Checkin"} %>
			<%= f.hidden_field :status, {:value => "Complete"} %>
			<%= f.submit :value=> "Check in" %>
		      </div>
		    <% end %>
		</td>
	      <% end %>
	    </tr>
	  <% end %>
	</table>
      <% end %>
    </p>
    
    <p>
      <b>Past Transactions</b>
      <table>
	<tr> <th> Type </th> <th> Status </th> <th> Time </th> </tr>
	<% @user.transactions.reverse.each do |t| %>
	  <tr>
	    <td>
	      <%= t.class_type %>
	    </td>
	    <td>
	      <%= t.status %>
	    </td>
	    <td>
	      <%= t.created_at and \
		  t.created_at.getlocal.strftime("%a %b %e, %I:%M:%S %p") %>
	    </td>
	  </tr>
	<% end %>
      </table>
    </p>
  <% end %>
</div>

<% if current_user.is_a? Admin %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>

<%= link_to 'View All Members', users_path %>
