<h1> All Calendar Events </h1>

<div style="float:left">
  <%= raw(event_calendar) %>
</div>

<!--
<table>
  <tr>
    <th> Name </th>
    <th> Lab </th>
    <th> Starts </th>
    <th> Ends </th>
    <th> Exclusive? </th>
  </tr>

  <% @events.each do |event| %>
    <tr>
      <td> <%= link_to event.name, event %> </td>
      <td> <%= event.lab and link_to event.lab.name, event.lab %> </td>
      <td> <%= event.start_time %> </td>
      <td> <%= event.end_time %> </td>
      <td> <%= event.exclusive ? "YES" : "NO" %> </td>
    </tr>
  <% end %>
</table>
-->
<br />
<%= if current_user.is_admin? then
      link_to "New Event", new_event_path
    end %>

 
