<script language="javascript" type="text/javascript">

  //Selected Items from Source -> Destination   
  function move_list_items(sourceid, destinationid)
  {
    $("#"+sourceid+"  option:selected").appendTo("#"+destinationid);
  }

  //All items from Source -> Destination
  function move_list_items_all(sourceid, destinationid)
  {
    $("#"+sourceid+" option").appendTo("#"+destinationid);
  }
   
</script>

<%= form_for(@project, :html => {:multipart => true}) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  
  <div class="newPaperclipFiles">
    <%= f.fields_for :project_images do |project_image| %>
      <% if project_image.object.new_record? %>
        <%= project_image.file_field :image %>
      <% end %>
    <% end %>
  </div>
  
  <div class="existingPaperclipFiles">
    <%= f.fields_for :project_images do |project_image| %>
      <% unless project_image.object.new_record? %>
        <% if project_image.object.image.content_type =~ /^image/ %>
          <%= link_to( image_tag(project_image.object.image.url(:large)), project_image.object.image.url(:original) ) %>
        <% else %>
          <%= link_to project_image.object.image.url, project_image.object.image.url %>
        <% end %>
        <%= project_image.check_box :_destroy %>
      <% end %>
    <% end %>
  </div>
  
  <% if current_user.owns? @project or current_user.is_super_admin? %>

    <div class="field">
      Manage Project Members<br />
      <% users_array = User.all.map { |user| [user.username, user.id] } %>
      <% p_users_array = @project.users.map { |user| [user.username, user.id] } %>
      <% owners_array = @project.owners.map { |user| [user.username, user.id] } %>
      <% p_users_array = p_users_array - owners_array %>
      <% displayed_users_array = users_array - p_users_array - owners_array %>
      
      <table style="border: 1px solid black;">
	<tr>
	  <th style="border: none;">Available Users</th>
	  <th style="border: none;"></th>
	  <th style="border: none;">Current Members</th>
	  <th style="border: none;"></th>
	  <th style="border: none;">Project Owners</th>
	</tr>
	<tr>
	  <td style="border: none;">
	    <%= select_tag('all_users[]', options_for_select(displayed_users_array), :multiple => true, :size => 5) %>
	  </td>
	  <td style="border: none;">
	    <center>
	      <input id="moveright" type="button" value=">" onclick="move_list_items('all_users_','members_');" /><br> 
	      <input id="moveleft" type="button" value="<" onclick="move_list_items('members_','all_users_');" /><br><br>
	      <input id="moveleftall" type="button" value="<<" onclick="move_list_items_all('members_','all_users_');" /> <br>
	      <input id="moverightall" type="button" value=">>" onclick="move_list_items_all('all_users_','members_');" />
	    </center>
	  </td>
	  <td style="border: none;">
	    <%= select_tag('members[]', options_for_select(p_users_array), :multiple => true, :size => 5) %>
	  </td>
	  <td style="border: none;">
	    <center>
              <input id="moveright" type="button" value=">" onclick="move_list_items('members_','owners_');" /><br>
              <input id="moveleft" type="button" value="<" onclick="move_list_items('owners_','members_');" /><br><br>
              <input id="moveleftall" type="button" value="<<" onclick="move_list_items_all('owners_','members_');" /><br>
              <input id="moverightall" type="button" value=">>" onclick="move_list_items_all('members_','owners_');" />
	    </center>
	    
	  </td>
	  <td style="border: none;">
	    <%= select_tag('owners[]', options_for_select(owners_array), :multiple => true, :size => 5) %>
	  </td>
	</tr>
      </table>
    </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
