<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  
  <div class="field">
    Add/Remove Members<br />
    <% users_array = User.all.map { |user| [user.username, user.id] } %>
    <% p_users_array = @project.users.map { |user| User.find(user.id).becomes(User).id.to_i } %>
    <% owners_array = @project.owners.map { |user| User.find(user.id).becomes(User).id.to_i } %>
    <%= select_tag('members[]', options_for_select(users_array, :selected => p_users_array, :disabled => owners_array), :multiple => true, :size => 5) %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
