<h1>All Projects</h1>

<% @projects.each do |project| %>

  <div  class="project_entry">
  <% if current_user.owns?(project) then %>
  <div class="entry_options">
  <%= link_to image_tag("/images/edit.png"), edit_project_path(project) %> 
  <%= link_to image_tag("/images/delete.png"), project, :confirm => 'Are you sure?', :method => :delete %>
  </div>
  <% end %>
  <%= link_to project.name, project %>
  <p style="padding-left: 10px;"><%= project.description %></p>
  </div>

<% end %>

<br />

<%= link_to 'Create New Project', new_project_path %>
