<p id="notice"><%= notice %></p>
<% if @project.users.include?(current_user) %>
<div id="project_info">

<a href="#" id="slick-toggle">Make a Project Update</a>
<div id="slickbox">
  <%= form_for([@project, @project.project_updates.build]) do |f| %>
  <div class="field">
    <%= f.text_field :title, :width => 30 %><br>
    <%= f.text_area :content, :size => "35x5" %>
  </div>
  <%= f.hidden_field :user_id, {:value => current_user.id} %>
  <div class="action">
    <%= f.submit 'Post' %>
  </div>
  <% end %>
</div>

</div>
<% end %>

<h1><%= @project.name %></h1>

<p>
  <b>Description:</b><br>
  <%= @project.description %>
</p>
  <b>Members:</b><br>
  <% @owners.each do |assignment| %>
    <i><%= link_to User.find(assignment.user_id).username, user_path(User.find(assignment.user_id)) %></i><br>
  <% end %>
  <% (@project.users - @project.owners).each do |user| %>
    <% user = user.becomes(User) %> 
    <%= link_to user.username, user_path(user) %> <br>
  <% end %>
</p>

<div style="width: 900px;">

<% unless @project.project_images.empty? %>
  <p>
    <b>Project Images</b><br>
    <a class="prev browse left"></a>
    <div class="scrollable">  
        <div class="items">
          <% @project.project_images.each_with_index do |i,index| %>
          <% if index%3==0 %>
            <% if index>0 || index == @project.project_images.length-1 %>
          </div>
            <% end %>
            <% if index != @project.project_images.length %>
          <div>
            <% end %>
          <% end %>
            <%= image_tag i.image.url(:medium) %>
          <% if index>0 && index == @project.project_images.length-1 %>
          </div>
            <% end %>
        <% end %>
        </div>
     </div>
   </div>
   <a class="next browse right"></a>
  </p>
<% end %>

  <h2>Project Blog</h2>
<% unless @project.project_updates.length <= 1 then %>
    
    <% @project.project_updates.reverse.each do |update| %>
    
    <% if update.user_id then %>
    <div style="padding-left: 20px; padding-bottom: 40px;" class="project_entry">
      
      <% if (update.user_id == current_user.id) || current_user.owns?(@project) then %>
      <div class="entry_options">
      <%= link_to image_tag("/images/delete.png"), project_project_update_path(@project,update), :confirm => 'Are you sure?', :method => :delete %>
      </div>
      <% end %>
    
      
      <b>
      <div <% if (update.user_id == current_user.id) || current_user.owns?(@project) then %>class="edit_title"<% end %> id="<%= update.id %>" name="title"><%= update.title %></div>
      </b>
      
      
      
      <i>by 
      
      <% if update.user_id then %>
	    <b> <%= link_to update.user.username, user_path(update.user) %> </b> wrote:
	    <% end %> @ 
	    
	    <% if update.created_at then %>
	    <i><%= update.created_at.getlocal.strftime("%m/%d/%Y @ %H:%M") %></i>
	    <% else %>
	    <%= update.created_at %>
	    <% end %>
	    
	    </i><br><br>
	    <div style="padding-left: 20px;" <% if (update.user_id == current_user.id) || current_user.owns?(@project) then %>class="edit_content"<% end %> id="<%= update.id %>" name="content"><%= update.content %></div>
    </div>
    <% end %>
    <% end %>
<% else %>
  No project updates available.
<% end %>
</div>

<br />
<br />

<% if current_user.owns? @project or current_user.is_super_admin? then %>
  <%= link_to 'Edit', edit_project_path(@project) %> |
<% end %>
<%= link_to 'Back', projects_path %>
