<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Lab:</b>
  <% if @item.lab then %>
  <%= link_to @item.lab.name, @item.lab %>
  <% else %>
  None (?)
  <% end %>
</p>

<p>
  <b>Add an Annotation</b>
  <%= form_for([@item, @item.annotations.build]) do |f| %>
  <div class="field">
    <%= f.text_area :text, :size => "80x5" %>
  </div>
  <%= f.hidden_field :user_id, {:value => current_user.id} %>
  <div class="action">
    <%= f.submit %>
  </div>
  <% end %>
</p>


<%= form_for([@item, @item.transactions.build]) do |f| %>
<%
   show_button = not(@item.checked_out? or @item.checkout_requested?)
   button_title = if @item.checked_out? then
                     "Already checked out by #{@item.user.username}"
                   elsif @item.checkout_requested? then
                     "Checkout already requested"
                   else
                     "Request checkout"
                   end
   %>
                     
<div class="action">
  <%= f.hidden_field :user_id, {:value => current_user.id} %>
  <%= f.hidden_field :class_type, {:value => "Checkout"} %>
  <%= f.hidden_field :status, {:value => "Pending"} %>
  <%= f.hidden_field :due_date, {:value => "Eventually"} %>
  <%= f.submit :value=>button_title, :disabled=>(not show_button)  %>
</div>
<% end %>

<% if current_user.administers_lab?(@item.lab) then %>
<p>
  <b> Transaction Log </b> <br />
  <% if @item.transactions.length <= 1 then %>
  <em> No transactions yet </em>
  <% else %>
  <table class="red">
    <tr> <th> Type </th> <th> User </th>
      <th> Status </th> <th> Timestamp </th> </tr>
    <% @item.transactions.each do |t| %>
    <tr>
      <td>
	<% if t.class_type then %>
	<%= t.class_type %>
	<% end %>
      </td>
      <td>
	<% if t.user then %>
	<%= t.user.username %>
	<% end %>
      </td>
      <td>
	<% if t.status then %>
	<%= t.status %>
	<% end %>
      </td>
      <td>
	<% if t.created_at? then %>
	<%= t.created_at.getlocal.strftime("%a %b %e, %I:%M:%S %p") %>
	<% end %>
      </td>
    <tr />
    <% end %>
  </table>
  <% end %>
</p>
<% end %>

<%# For whatever reason, I get an extra annotation? Empty lists come back
    as having one item, so I guess we should ignore all 1-item lists. %>
<% unless @item.annotations.length <= 1 then %>
<p>
  <b>Notes and Annotations:</b> <br />
  <table class="red">
    <tr> <th> User </th> <th> Timestamp </th> <th> Note </th> </tr>
    <% @item.annotations.reverse.each do |annotation| %>
    <tr>
      <td>
	<% if annotation.user then %>
	<b> <%= annotation.user.username %> </b>
	<% end %>
      </td>
      <td>
	<% if annotation.created_at then %>
	<%= annotation.created_at.getlocal.strftime("%a %b %e, %I:%M:%S %p") %>
	<% else %>
	<%= annotation.created_at %>
	<% end %>
      </td>
      <td> <%= annotation.text %> </td>
    </tr>
    <% end %>
  </table>
</p>
<% end %>

<% if current_user.administers_lab?(@item.lab) %>
  <%= link_to 'Edit', edit_item_path(@item) %> |
<% end %>
<%= link_to 'Back', items_path %>
