<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Lab:</b>
  <% if @item.lab then %>
  <%= link_to @item.lab.name, @item.lab %>
  <% else %>
  None (?)
  <% end %>
</p>

<p>
  <b>Add an Annotation</b>
  <%= form_for([@item, @item.annotations.build]) do |f| %>
  <div class="field">
    <%= f.text_area :text, :size => "80x5" %>
  </div>
  <div class="action">
    <%= f.submit %>
  </div>
  <% end %>
</p>

<p>
  <b>Notes and Annotations:</b> <br />
  <table>
    <tr> <th> Timestamp </th> <th> Note </th> </tr>
    <% @item.annotations.reverse.each do |annotation| %>
    <tr>
      <td>
	<% if annotation.created_at then %>
	<%= annotation.created_at.getlocal.strftime("%a %b %e, %I:%M:%S %p") %>
	<% else %>
	<%= annotation.created_at %>
	<% end %>
      </td>
      <td> <%= annotation.text %> </td>
    </tr>
    <% end %>
  </table>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
