<h1>Listing annotations</h1>

<table>
  <tr>
    <th>Text</th>
    <th>Datetime</th>
    <th>Item</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @annotations.each do |annotation| %>
  <tr>
    <td><%= annotation.text %></td>
    <td><%= annotation.datetime %></td>
    <td><%= annotation.item %></td>
    <td><%= link_to 'Show', annotation %></td>
    <td><%= link_to 'Edit', edit_annotation_path(annotation) %></td>
    <td><%= link_to 'Destroy', annotation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Annotation', new_annotation_path %>
