<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @lab.name %>
</p>

<p>
  <b>Items in this lab:</b>
  <ul>
    <% @lab.items.each do |item| %>
    <li><%= link_to item.name, item %></li>
    <% end %>
  </ul>
</p>

<p>
  <b>Add item:</b>
  <%= form_for([@lab, @lab.items.build]) do |f| %>
  <div class="field">
    <%= f.label :name %> <br />
    <%= f.text_field :name %> <br />
  </div>
  <div class="action">
    <%= f.submit %>
  </div>
  <% end %>
</p>
  
<%= link_to 'Edit', edit_lab_path(@lab) %> |
<%= link_to 'Back', labs_path %>
