<p id="notice"><%= notice %></p>

<p>
  <h1>Lab: <%= @lab.name %></h1>
</p>

<p>
  <b>Items in this lab:</b>
  <% unless @lab.items.nil? || @lab.items.empty? %>
  <ul>
    <% @lab.items.each do |item| %>
      <li><%= link_to item.name, item %></li>
    <% end %>
  </ul>
  <% else %>
    <br>No items currently in this lab.
  <% end %>
</p>

<% if current_user.administers_lab?(@lab) %>
  <p>
    <b>Add item:</b>
    <%= form_for([@lab, @lab.items.build]) do |f| %>
      <div class="field">
	<%= f.label :name %> <br />
	<%= f.text_field :name %> <br />
      </div>
      <div class="action">
	<%= f.submit %>
      </div>
    <% end %>
  </p>
<% end %>

<strong> Events in this lab </strong>
<div style="width:70%">
<%= raw(event_calendar) %>
</div>

<% if current_user.administers_lab?(@lab) %>
  <%= link_to 'Edit', edit_lab_path(@lab) %> |
<% end %>
<%= link_to 'Back', labs_path %>
