<p id="notice"><%= notice %></p>

<p>
  <h1><%= @lab.name %></h1>
</p>

<p>
  <b>Items in this lab:</b>
  <ul>
    <% @lab.items.each do |item| %>
      <li><%= link_to item.name, item %></li>
    <% end %>
  </ul>
</p>

<% if current_user.class_type == "Admin" %>
  <p>
    <b>Add item:</b>
    <%= form_for([@lab, @lab.items.build]) do |f| %>
      <div class="field">
	<%= f.label :name %> <br />
	<%= f.text_field :name %> <br />
      </div>
      <div class="action">
	<%= f.submit %>
      </div>
    <% end %>
  </p>
<% end %>

<strong> Events in this lab </strong>
<table>
  <tr>
    <th> Name </th>
    <th> Starts </th>
    <th> Ends </th>
    <th> Reserved? </th>
  </tr>
  <% @lab.events.each do |event| %>
    <tr>
      <td> <%= link_to event.name, event %> </td>
      <td> <%= event.start %> </td>
      <td> <%= event.end %> </td>
      <td> <%= event.exclusive ? "YES" : "NO" %> </td>
    </tr>
  <% end %>
</table>

<% if current_user.class_type == "Admin" %>
  <%= link_to 'Edit', edit_lab_path(@lab) %> |
<% end %>
<%= link_to 'Back', labs_path %>
